.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    /* background: grey; */
    margin: auto;
    /* height: 60%;
    width: 85%;
    margin: auto;
    vertical-align: middle; */
}

.login {
    float: left;
    background-color: #3B3B3B;
    height: 80%;
    width: 50%;
    vertical-align: middle;
    margin-right: 4%;
    border-radius: 10px 10px 10px 10px;
    /* padding: 5%; */
}

.register {
    float: right;
    background-color: #3B3B3B;
    height: 80%;
    width: 50%;
    vertical-align: middle;
    margin-left: 4%;
    border-radius: 10px 10px 10px 10px;
    /* padding: 5%; */
}

#login-header {
    color: white;
    float: left;
    margin-left: 6%;
    font-size: 35px;
    font-weight: 550;
}

#loginUsername {
    /* margin-top: 20%; */
    width: 88%;
    margin-bottom: 8%;
    border-radius: 10px 10px 10px 10px;
    min-height: 30px;
    border: none;
    /* float: left; */
}

#registerUsername {
    /* margin-top: 20%; */
    width: 88%;
    margin-bottom: 8%;
    border-radius: 10px 10px 10px 10px;
    min-height: 30px;
    border: none;
    /* float: left; */
}

#loginPassword {
    width: 88%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px 10px;
    border: none;
    min-height: 30px;
}

#registerPassword {
    width: 88%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px 10px;
    border: none;
    min-height: 30px;
}

#login-form-div {
    margin-top: 22%;
    /* float:left; */
    /* background-color: red; */
}

#username-header {
    color: white;
    float: left;
    margin-left: 6%;
    font-size: 20px;
    margin-top: -10px;
    font-weight: 500;
    margin-bottom: 10px;
}

#password-header {
    color: white;
    float: left;
    margin-left: 6%;
    font-size: 20px;
    margin-top: -10px;
    font-weight: 500;
    margin-bottom: 10px;
}

#login-button {
    background-color: #1ED760;
    color: white;
    font-size: 28px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
}